.container {
  min-width: 1024px;
  max-width: 1024px;
}

.logo {
  width: 120px;
  height: 80px;
}

.checkbox {
  display: flex;
  width: 15px;
  min-width: 15px;
  height: 15px;
  border: 1px solid #111;
}

.fc-darken {
  color: $gray-600;
}

.bd-gray {
  border-color: $gray-400;
}

.bd-2 {
  border-width: 2px;
}
body {
  font-family: 'Roboto', sans-serif;
}

@media print {
  .print {
    display: none !important;
  }

  a[href]:after {
    content: none !important;
  }

  header,
  footer {
    display: none;
  }

  @page {
    size: portrait;
    margin: 0;
  }

  body {
    display: table;
    height: auto;
    padding: 2cm;
    table-layout: fixed;
  }
}
