$footer-logo-width: 150px;
$footer-logo-height: 90px;

.footer {
   font-size: 14px;
   position: fixed;
   bottom: 25px;
   left: 0;
   right: 0;
   display: block;

   &__logo {
      width: $footer-logo-width;
      height: $footer-logo-height;
   }
}
