$navbar-logo-width:              170px;
$navbar-logo-height:             100px;

.header {

   &__title {
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 600;
   }
   &__subtitle {
      letter-spacing: .05rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #999999;
   }
}
