.rewaxing {
   height: 100%;

   .header {
      &__title {
         font-size: 2.2rem;
         font-weight: 600;
      }
      &__subtitle {
         letter-spacing: .05rem;
         font-size: 1rem;
         font-weight: 600;
         color: #999999;
      }
      &__address {
         font-size: 22px;
      }
   }
   .garment {
      &__head {
         font-size: 15px;
         font-weight: 600;
         border: 1px solid #ddd;
         background-color: #f8f8f8;
      }
      &__items {
         font-weight: 600;
         font-size: 18px;
         border-left: 1px solid #ddd;
         border-right: 1px solid #ddd;
         border-bottom: 1px solid #ddd;
      }

      &__status {
         border: 1px solid #ddd;
         color: #666;
         border-radius: 3px;
         padding: 7px 14px;
         font-size: 14px;
      }
   }

   .internal {
      border: 1px solid #ddd;

      .checkbox {
         min-width: 20px;
         height: 20px;
         border: 2px solid #111;
         display: inline-block;
      }
      .label {
         display: inline-block;
      }
      img {
         max-width: 140px;
      }
   }
}
