.hero {
   background: linear-gradient(to bottom, #e52d27, #b31217);
   box-shadow: 0px 4px 19px -8px rgba(0, 0, 0, 0.50);
   height: 100vh;

   &__logo {
      fill: #ffffff;
      width: 450px;
      height: 73px;
   }

   &__caption {
      font-size: 23px;
      color: #fff;
    }

    .icon {
      fill: #ffffff;
      width: 70px;
      height: 70px;
   }
}

.channels {

   &__github > a,
   &__brixtol > a {
      fill: #ffffff;
      position: absolute;
      top: 20px;
   }

   &__brixtol > a {
      left: 20px;
      .icon {
         width: 40px;
         height: 30px;
      }
   }

   &__github > a {
      right: 20px;
      .icon {
         width: 35px;
         height: 35px;
      }
   }
}
